doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Погнали?
  body.page__body
    header.page-header
      nav.main-nav
        button._toggle(type="button")
          span.visually-hidden Открыть меню.
        div._wrapper
          ul.site-list._list
            li._item
              a._logo(href="index.html")
                img(src="img/main-logo.svg", width="226", height="15", alt="Логотип сайта путешествий 'Погнали?'.")
            li._item
              a(href="#") О сервисе
            li._item
              a(href="form.html") Направления
            li._item
              a(href="catalog.html") Попутчики
          ul.user-list._list
            li._item
              a._login Авторизация
            li._item
              a._phone(href="tel:88005558628") 8 800 555-86-28
            li._item
              a._mail(href="mailto:mail@htmlacademy.ru") mail@htmlacademy.ru
          ul.social-list._list
            li._item
              a._link.-fb.visually-hidden(href="https://www.facebook.com/htmlacademy") Фейсбук.
            li._item
              a._link.-vk.visually-hidden(href="https://vk.com/htmlacademy") ВКонтакте.
            li._item
              a._link.-inst.visually-hidden(href="https://www.instagram.com/htmlacademy/") Инстаграм.
      section.apps
        h1.visually-hidden Путешествия вместе с "Погнали?"
        h2._title В путешествие с крутыми попутчиками!
        ul._list
          li._item
            a._phone(href="tel:88005558628") 8 800 555-86-28
          li._item
            a._mail(href="mailto:mail@htmlacademy.ru") mail@htmlacademy.ru
          li._item
            a._login Авторизация
        blockquote._text
          p._quote «Лучшее приложение, что я видел в жизни!»
          cite._author Мурат Эльтазин главный редактор газеты «гаджетлайф»
        div._features
          ol.features-list._list
            li._item
              p._text Выберите направление
                span._count 1
            li._item
              p._text Изучите идеи путешественников
                span._count 2
            li.item
              p._text Находите тех, кто похож на вас
                span._count 3
            li.item
              p._text Путешествуйте вместе!
                span._count 4
    main.page-main
      section.about
        h3._title О сервисе
        p._description Любое путешествие веселее с попутчиками, которые на одной волне с тобой! Делитесь своими идеями путешествий и черпайте вдохновение в чужих.
        p._slogan А если найдете кого-то близкого по духу — скорее зовите в совместный трип!
      section.direction
        h3._title Направления
        p._description Мы не продаем туры и ничего не рекламируем. Люди сами пишут о странах, куда хотели бы отправиться и чем можно там заняться.
        ul.list-country._list
          li._item
            div._wrapper
              img._pic(src="img/Thailand.png", width="35", height="24", alt="Таиланд.")
              h4._title Таиланд
              p._description Джунгли зовут!
            span._count 18321
          li._item
            div._wrapper
              img._pic(src="img/France.png", width="35", height="24", alt="Франция.")
              h4._title Франция
              p._description Трэ бьен, манифик!
            span._count 12518
          li._item
            div._wrapper
              img._pic(src="img/Czech.png", width="35", height="24", alt="Чехия.")
              h4._title Таиланд
              p._description Закоулки старой Европы
            span._count 5326
        a.button(href="form.html" aria-label="Показать все.") Показать все
      section.companion
        h3._title Попутчики
        p._description Все мы индивидуальны и у каждого свой взгляд на идеальный отдых. Одному нужен пляж и коктейль, а другому маршрут для хайкинга.
        p._slogan Теперь можно легко найти единомышленников!
        div.user-card
          div._inner.-first
            span._number 99
            span._description level
          div._info
            ul.country-list._country
              li._item
                img(src="img/Sri-Lanka.png", width="35", height="25", alt="Шри Ланка.")
              li._item
                img(src="img/Thailand.png", width="35", height="25", alt="Таиланд.")
              li._item
                img(src="img/Seychelles.png", width="35", height="25", alt="Сейшелы.")
            h5._name Таня Фирсова
            p._hashtag #ЗОЖ #ПП #Фитнес #пляж #авокадо #смузи
            ul.hobby-list._hobby
              li._item
                img(src="img/plane.svg", alt="Самолет.")
              li._item
                img(src="img/bus.svg", alt="Автобус.")
              li._item
                img(src="img/bicycle.svg", alt="Велосипед.")
              li._item
                img(src="img/run.svg", alt="Бег.")
        div.user-card
          div._inner.-second
            span._number 80
            span._description level
          div._info
            ul.country-list._country
              li._item
                img(src="img/Belgium.png", width="35", height="25", alt="Бельгия.")
              li._item
                img(src="img/Czech.png", width="35", height="25", alt="Чехия.")
            h5._name Петя Демин
            p._hashtag #бургер #бар #футбол #концерт #крафт
            ul.hobby-list._hobby
              li._item
                img(src="img/plane.svg", alt="Самолет.")
              li._item
                img(src="img/bus.svg", alt="Автобус.")
              li._item
                img(src="img/bicycle.svg", alt="Велосипед.")
              li._item
                img(src="img/run.svg", alt="Бег.")
        a.button(href="catalog.html" aria-label="Показать всех.") Показать всех
      section.profile
        div._wrapper
          h3.title Добавьте свой профиль
          img(src="img/rates.png", width="100", height="100" alt="Ставки.")
        ul.pricing-list._pricing
          li._item
            p._description Базовое размещение
            p._value Бесплатно
            span._number 1
          li._item
            p._description Вывод на первых позициях
            p._value 99 руб./мес
            span._number 2
          li._item
            p._description Кастомный цвет карточки
            p._value 59 руб./мес
            span._number 3
        button._show(type="button") Показать тарифы для бизнеса
    footer.page-footer
      section.interested
        h3._title Заинтересовались?
        p._description Зарегистрируйтесь, это быстро и бесплатно! Уже зарегистрированы? Тогда скорее
          a._link авторизуйтесь
          | .
        form._mail(action="https://echo.htmlacademy.ru" method="post")
          label.visually-hidden(for="email") Email
          input._field(type="email" id="email" name="email" placeholder="E-mail" required)
          button._button.visually-hidden(type="button") Регистрация.
        p._question Остались вопросы? Мы с радостью на них ответим!
        address._wrapper
          a._phone(href="tel:88005558628") 8 800 555-86-28
          a._mail(href="mailto:mail@htmlacademy.ru") mail@htmlacademy.ru
      section.navigation
        address._address
          p._text ул. Большая Конюшенная, 19/8
          button._button(type="button") Проложить маршрут
        map._map(name="home")
          span._mark.visually-hidden Наш адрес
        div._wrapper
          a._logo(href="index.html")
            img(src="img/main-logo.svg", width="226", height="15", alt="Логотип сайта путешествий 'Погнали?'.")
          ul.social-list._list
            li._item
              a._link.-fb.-color.visually-hidden(href="https://www.facebook.com/htmlacademy") Фейсбук.
            li._item
              a._link.-vk.-color.visually-hidden(href="https://vk.com/htmlacademy") ВКонтакте.
            li._item
              a._link.-inst.-color.visually-hidden(href="https://www.instagram.com/htmlacademy/") Инстаграм.
        div._copyright
          span._text Разработано
          img(src="img/htmlacademy.svg", alt="Логотип htmlacademy.")
