section.catalog-filter-table
  h3.visually-hidden Страны по Алфавиту
  button._letter.-active(type="button") A
  each item in ['Б', 'В', 'Г', 'Д', 'Е', 'З', 'И', 'К', 'Л', 'М', 'Н', 'О', 'П', 'Р', 'С', 'Т', 'У', 'Ф', 'Х', 'Ч', 'Ш', 'Э', 'Ю', 'Я']
    button._letter(type="button")= item
