div.footer-contacts
  ._wrapper
    a._logo
      picture
        source(media="(min-width: 1440px)", width="200", height="50", srcset="img/logo-footer-desktop.svg")
        source(media="(min-width: 768px)", width="166", height="42", srcset="img/logo-footer-tablet.svg")
        img(src="img/footer-logo-mobile.svg", width="96", height="15", alt="Логотип сайта путешествий 'Погнали?'.")
    ul.social-list._list
      li._item
        a._link.-fb.-color(href="https://www.facebook.com/htmlacademy" aria-label="Фейсбук.")
      li._item
        a._link.-vk.-color(href="https://vk.com/htmlacademy" aria-label="ВКонтакте.")
      li._item
        a._link.-inst.-color(href="https://www.instagram.com/htmlacademy/" aria-label="Инстаграм.")
  ._copyright
    span._text Разработано
    img._pic(src="img/htmlacademy.svg", width="27px", height="34px", alt="Логотип htmlacademy.")
