div.footer-contacts
  ._wrapper
    a._logo
      img(src="img/main-logo.svg", width="226", height="15", alt="Логотип сайта путешествий 'Погнали?'.")
    ul.social-list._list
      li._item
        a._link.-fb.-color(href="https://www.facebook.com/htmlacademy" aria-label="Фейсбук.")
      li._item
        a._link.-vk.-color(href="https://vk.com/htmlacademy" aria-label="ВКонтакте.")
      li._item
        a._link.-inst.-color(href="https://www.instagram.com/htmlacademy/" aria-label="Инстаграм.")
  ._copyright
    span._text Разработано
    img(src="img/htmlacademy.svg", alt="Логотип htmlacademy.")
