header.page-header
  a._logo
    img(src="img/main-logo.svg", width="226", height="15", alt="Логотип сайта путешествий 'Погнали?'.")
  nav.main-nav
    button._toggle(type="button")
      span.visually-hidden Открыть меню.
    ._wrapper
      ul.site-list._list
        each link in navLinks
          if link.href === location
            li._item.-active
              a=link.text
          else
            li._item
              a(href=link.href)=link.text
      ul.user-list._list
        li._item
          a._login Авторизация
        li._item
          a._phone(href="tel:88005558628") 8 800 555-86-28
        li._item
          a._mail(href="mailto:mail@htmlacademy.ru") mail@htmlacademy.ru
      ul.social-list._list
        li._item
          a._link.-fb(href="https://www.facebook.com/htmlacademy", aria-label="Фейсбук.")
        li._item
          a._link.-vk(href="https://vk.com/htmlacademy", aria-label="ВКонтакте.")
        li._item
          a._link.-inst(href="https://www.instagram.com/htmlacademy/", aria-label="Инстаграм.")
