header.page-header
  a._logo
    picture
      source(media="(min-width: 1440px)", width="200px", height="50px", srcset="img/main-logo-desktop.svg")
      source(media="(min-width: 768px)", width="166px", height="42px", srcset="img/main-logo-tablet.svg")
      img(src="img/main-logo-mobile.svg", width="96px", height="15px", alt="Логотип сайта путешествий 'Погнали?'.")
  button._toggle(type="button")
    span.visually-hidden Открыть меню.
  nav.main-nav
    ul.site-list._list
      each link in navLinks
        if link.href === location
          li._item.-active
            a._link=link.text
        else
          li._item
            a._link(href=link.href)=link.text
    ul.user-list._list
      li._item
        a._link.-phone(href="tel:88005558628")
          span.visually-hidden 8 800 555-86-28
      li._item
        a._link.-mail(href="mailto:mail@htmlacademy.ru")
          span.visually-hidden mail@htmlacademy.ru
      li._item
        a._link.-login Авторизация
  include menu
