.main-menu.-opened
  ._wrapper
    a._logo
      picture
        source(media="(min-width: 1440px)" srcset="img/logo-footer-desktop.svg")
        source(media="(min-width: 768px)" srcset="img/logo-footer-tablet.svg")
        img._image(src="img/footer-logo-mobile.svg", width="96", height="15", alt="Логотип сайта путешествий 'Погнали?'.")
    button._toggle(type="button")
      span.visually-hidden Закрыть меню.
    a._auth Авторизация
  ul._navigation
    each link in navLinks
      if link.href === location
        li._navigation-item.-active
          a._link=link.text
      else
        li._navigation-item
          a._link(href=link.href)=link.text
  ul._user
    li._user-item
      a._link.-login Авторизация
    li._user-item
      a._link.-phone(href="tel:88005558628")
        span._elipse
          <svg width="19" height="17">
            <use xlink:href="img/sprite.svg#main-menu-phone"></use>
          </svg>
        |  8 800 555-86-28
    li._user-item
      a._link.-mail(href="mailto:mail@htmlacademy.ru")
        span._elipse.-mail
          <svg width="19" height="17">
            <use xlink:href="img/sprite.svg#main-menu-mail"></use>
          </svg>
        |  mail@htmlacademy.ru
  ul.social._list
    li._item
      a._link.-fb(href="https://www.facebook.com/htmlacademy", aria-label="Фейсбук.")
        <svg class="social__fb-mobile" width="11" height="21">
          <use xlink:href="img/sprite.svg#icon-facebook-menu-mobile"></use>
        </svg>
        <svg class="social__fb-tablet" width="14" height="28">
          <use xlink:href="img/sprite.svg#icon-facebook-menu-tablet"></use>
        </svg>
    li._item
      a._link.-vk(href="https://vk.com/htmlacademy", aria-label="ВКонтакте.")
        <svg class="social__vk-mobile" width="23" height="12">
          <use xlink:href="img/sprite.svg#icon-vkontakte-menu-mobile"></use>
        </svg>
        <svg class="social__vk-tablet" width="31" height="16">
          <use xlink:href="img/sprite.svg#icon-vkontakte-menu-tablet"></use>
        </svg>
    li._item
      a._link.-inst(href="https://www.instagram.com/htmlacademy/", aria-label="Инстаграм.")
        <svg class="social__inst-mobile" width="18" height="18">
          <use xlink:href="img/sprite.svg#icon-instagram-menu-mobile"></use>
        </svg>
        <svg class="social__inst-tablet" width="24" height="24">
          <use xlink:href="img/sprite.svg#icon-instagram-menu-tablet"></use>
        </svg>
