section.step2
  p._title Шаг 2.<br> Маршрут
  p._description Укажите страны, которые вы хотели бы посетить. Это может быть одна или сразу несколько.
  ._wrapper
    button._close.visually-hidden(type="button") Закрыть
    button._choice.-active(type="button") Босния и герцеговина
    button._choice.-active(type="button") Чехия
    button._choice(type="button") Выберите Страну
    include add-country
    button._add(type="button") Добавить Страну
  button.step-next(type="button") Следующий шаг
  button.step-prev(type="button") На шаг назад
