section.step3
  h3.visually-hidden Развлечения
  ._flex-container
    ._inner
      p._title Шаг 3.
        span._link  Развлечения
      p._description Наконец, расскажите о своих планах времяпровождения.<br> Можно писать в свободной форме и ставить тэги.
    .container.-step3
      button._toggle(type="button") Даты
      button._toggle(type="button") Маршрут
      button._toggle.-current(type="button") Развлечения
  ._wrapper
    p._country.-fade Босния и Герцеговина
    picture
      source(type="image/webp" media="(min-width: 768px)" srcset="img/bosnia-tablet.webp 1x, img/bosnia-tablet@2x.webp 2x")
      source(type="image/webp" srcset="img/bosnia.webp 1x, img/bosnia@2x.webp 2x")
      source(media="(min-width: 768px)" srcset="img/bosnia-tablet.png, img/bosnia-tablet@2x.png 2x")
      img._image(src="img/bosnia.png", srcset="img/bosnia@2x.png 2x" width="35", height="25" alt="Босния и Герцеговина")
  label._label
    span.visually-hidden Опишите план ваших действий
    textarea._plan(name="Bosnia-plan", placeholder="План действий" required)
  ._wrapper
    p._country Чехия
    picture
      source(type="image/webp" media="(min-width: 768px)" srcset="img/Czech-tablet.webp 1x, img/Czech-tablet@2x.webp 2x")
      source(type="image/webp" srcset="img/Czech.webp 1x, img/Czech@2x.webp 2x")
      source(media="(min-width: 768px)" srcset="img/Czech-tablet.png 1x, img/Czech-tablet@2x.png 2x")
      img._image(src="img/Czech.png", srcset="img/Czech@2x.png 2x" width="35", height="25" alt="Чехия")._image
  label._label.-margin
    span.visually-hidden Опишите план ваших действий
    textarea._plan(name="Czech-plan", placeholder="План действий" required) Пить пиво и лазить по старым замкам, наслаждаться архитектурой и вот это все.
