section.step2
  p._title Шаг 3.<br> Развлечения
  p._description Наконец, расскажите о своих планах времяпровождения. Можно писать в свободной форме и ставить тэги.
  ._wrapper
    p._country Босния и Герцеговина
    img._pic(src="img/Bosnia-and-Herzegovina.png", alt="Босния и Герцеговина")
  label.visually-hidden Опишите план ваших действий
    textarea._plan(name="Bosnia-plan", cols="25", rows="10" placeholder="План действий")
  ._wrapper
    p._country Босния и Герцеговина
    img._pic(src="img/Czech.png", alt="Чехия")
  label.visually-hidden Опишите план ваших действий
    textarea._plan(name="Czech-plan", cols="25", rows="10" placeholder="План действий") Пить пиво и лазить по старым замкам, наслаждаться архитектурой и вот это все.
  button.step-next(type="submit") Отправить
  button.step-prev(type="button") На шаг назад
