section.step2
  h3.visually-hidden Маршрут
  ._flex-block
    ._container
      p._title Шаг 2.
        span._link  Маршрут
      p._description Укажите страны, которые вы хотели бы посетить. Это может быть одна или сразу несколько.
    .container
      button._toggle(type="button") Даты
      button._toggle.-current(type="button") Маршрут
      button._toggle(type="button") Развлечения
  ._wrapper
    ._inner
      button._choice.-active.-fade(type="button") Босния и герцеговина
      ._flag.-first
      button._close(type="button" aria-label="Закрыть")
    ._inner
      button._choice.-active(type="button") Чехия
      ._flag.-second
      button._close(type="button" aria-label="Закрыть")
    ._inner.-open
      button._choice.-country(type="button") Выберите Страну
      button._close.-add(type="button" aria-label="Закрыть")
      button._close(type="button" aria-label="Закрыть")
    include add-country
    button._choice.-add(type="button") Добавить Страну
      span._mark
  ._flex-container
    a.step-next._button-next(href="#") Следующий шаг
      <svg width="12" height="14" viewBox="0 0 12 14" fill="#1D2E5B" xmlns="http://www.w3.org/2000/svg">
        <path d="M11.2587 7L0.832153 13.0622V0.937822L11.2587 7Z"/>
      </svg>
    a.step-prev(href="#") На шаг назад
