.about {
  background-color: #192144;
  background-image: url("../img/about-mobile.png");
  background-repeat: no-repeat;
}

.about__title {
  margin: 0;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  color: @special-orange;
}

.about__description {
  margin: 0;
  color: #ffffff;
}

.about__slogan {
  margin: 0;
  font-weight: 700;
  color: #ffffff;
}
