.add-plans {
  display: flex;
  flex-direction: column;
  background-color: #d4d9eb;
}

.add-plans__wrapper {
  display: flex;
  flex-direction: row;
}

.add-plans__title {
  margin: 0;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  color: @basic-blue-light;
}

.add-plans__toggles {
  margin: 0;
}
