.add-country {
  display: flex;
  flex-direction: column;
}

.add-country__title {
  font-family: "Bloger-Sans", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  background-color: @basic-blue-light;
  text-transform: uppercase;
}

.add-country__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.add-country__link {
  display: block;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
}
