.button {
  display: block;
  text-decoration: none;
  background: @basic-yellow;
  color: @basic-blue-light;
  font-family: "Bloger-Sans", sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
}
