.calendar {
  text-align: center;
}

.calendar__item {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.calendar__number {
  font-family: "Bloger-Sans", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  opacity: 0.3;
  background-color: #ffffff;
  border: none;
}
