.companion {
  display: flex;
  flex-direction: column;
  background-color: @basic-yellow;
}

.companion__caption {
  margin: 0;
  font-size: 22px;
  line-height: 22px;
  font-weight: 700;
  color: @basic-blue-light;
}

.companion__interest {
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: @basic-blue-light;
}

.companion__input {
  font-family: inherit;
  font-size: 14px;
  line-height: 13px;
  font-weight: 500;
  color: @basic-blue-light;
  text-align: center;
}
