.companion {
  display: flex;
  flex-direction: column;
  background-color: @basic-yellow;
  border-radius: 20px;
  margin: 0 auto;
  width: 270px;
  box-sizing: border-box;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 25px;
  padding-bottom: 22px;
  margin-bottom: 28px;

  @media (min-width: @tablet-width) {
    width: 688px;
    box-sizing: border-box;
    padding-top: 35px;
    padding-left: 34px;
    padding-right: 34px;
    padding-bottom: 37px;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  @media (min-width: @desktop-width) {
    order: 2;
    padding-top: 44px;
    padding-right: 46px;
    padding-left: 48px;
    padding-bottom: 48px;
    align-self: flex-start;
    margin-left: 0;
    margin-right: 0;
    width: 285px;
    box-sizing: border-box;
  }
}

.companion__caption {
  margin: 0;
  font-size: 22px;
  line-height: 22px;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: @basic-blue-light;
  margin-bottom: 23px;

  @media (min-width: @tablet-width) {
    letter-spacing: 0;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 39px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 34px;
  }
}

.companion__items {
  margin: 0;
  border: none;
  padding: 0;
  border-top: 1px solid #f3c72b;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    border: none;

    &--hobbies {
      padding-top: 32px;
      border-top: 1px solid #f3c72b;
      margin-bottom: 26px;
    }

    &--music {
      margin-bottom: 26px;
    }

    &--eat {
      margin-bottom: 23px;
    }

    &--transport {
      margin-bottom: 10px;
    }

    &--level {
      padding-bottom: 33px;
      border-bottom: 1px solid #f3c72b;
      margin-bottom: 36px;
    }
  }

  @media (min-width: @desktop-width) {
    flex-direction: column;
    border: none;
    margin-bottom: 20px;
    padding-top: 0;

    &--music {
      margin-bottom: 31px;
    }

    &--transport {
      margin-bottom: 34px;
    }

    &--level {
      margin-bottom: 17px;
      padding-bottom: 0;
    }
  }
}

.companion__items--transport .companion__interest {
  @media (min-width: @desktop-width) {
    margin-bottom: 16px;
  }
}

.companion__items--level .companion__interest {
  @media (min-width: @desktop-width) {
    margin-bottom: 15px;
  }
}

.companion__interest {
  position: relative;
  display: block;
  width: 100%;
  text-align: left;
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: @basic-blue-light;
  background: none;
  border: none;
  padding-top: 12px;
  padding-bottom: 9px;
  padding-left: 1px;
  padding-right: 15px;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    width: 110px;
    margin-right: 11px;
    padding: 0;
    padding-top: 4px;
    padding-right: 10px;
  }

  @media (min-width: @desktop-width) {
    line-height: 22px;
    padding: 0;
    width: auto;
    margin-right: 0;
  }

  &::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 6px;
    top: 17px;
    right: 0;
    background-image: url("../img/polygon.svg");
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: @tablet-width) {
      display: none;
    }

    @media (min-width: @desktop-width) {
      display: block;
      top: 7px;
    }
  }

  &--active {
    @media (min-width: @desktop-width) {
      margin-bottom: 23px;
    }

    &::after {
      transform: rotate(180deg);
    }
  }
}

.companion__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.companion__range-wrapper {
  display: none;
  margin-top: 2px;
  flex-direction: row;
  position: relative;

  @media (min-width: @tablet-width) {
    margin-top: 5px;
    order: 2;
  }

  @media (min-width: @desktop-width) {
    margin-top: 3px;
    order: 0;
    width: 192px;
    margin-bottom: 10px;
  }

  &::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 1px;
    background-color: #cbced9;
    top: 13px;
    left: 102px;

    @media (min-width: @tablet-width) {
      width: 21px;
      top: 22px;
      left: 64px;
    }

    @media (min-width: @desktop-width) {
      left: 86px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 11px;
    background-color: #ffffff;
    top: 12px;
    left: 110px;

    @media (min-width: @tablet-width) {
      height: 15px;
      left: 74px;
      top: 15px;
    }

    @media (min-width: @desktop-width) {
      left: 96px;
    }
  }

  &--active {
    display: flex;
  }
}

.companion__label {
  width: 100%;
}

.companion__level {
  appearance: none;
  display: block;
  outline: none;
  border: 1px solid #cbced9;
  background-color: #ffffff;
  font-family: inherit;
  font-size: 14px;
  line-height: 13px;
  font-weight: 500;
  color: @basic-blue-light;
  letter-spacing: 0.06em;
  padding-top: 10px;
  padding-left: 17px;
  padding-bottom: 7px;
  text-align: center;
  width: 100%;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.04em;
    padding-bottom: 10px;
  }

  &:hover {
    border-color: #959bb2;
  }

  &:active {
    border-color: @basic-blue-light;
  }

  &--min {
    border-right: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  &--max {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}

.companion__range {
  display: none;
  position: relative;
  margin-top: 24px;
  margin-bottom: 25px;
  width: 220px;
  height: 2px;
  background-color: rgba(29, 46, 91, 0.2);

  @media (min-width: @tablet-width) {
    order: 1;
    margin-right: 63px;
    width: 275px;
    height: 3px;
    margin-top: 26px;
    padding-left: 4px;
    margin-left: 7px;
  }

  @media (min-width: @desktop-width) {
    width: 189px;
    order: 0;
    margin-left: 0;
    margin-right: 0;
  }

  &--active {
    display: block;
  }
}

.companion__range-bar {
  position: absolute;
  width: 147px;
  height: 2px;
  background-color: @basic-blue-light;
  right: 0;

  @media (min-width: @tablet-width) {
    width: 166px;
    height: 3px;
  }

  @media (min-width: @desktop-width) {
    width: 132px;
    right: 1px;
  }
}

.companion__button {
  display: block;
  border: none;
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: @basic-blue-light;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  left: -6px;
  top: -4px;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    width: 13px;
    height: 13px;
    left: -13px;
    top: -5px;
  }

  @media (min-width: @desktop-width) {
    left: -1px;
  }

  &:hover {
    width: 19px;
    height: 19px;
    left: -10px;
    top: -8px;

    @media (min-width: @tablet-width) {
      left: -16px;
    }

    @media (min-width: @desktop-width) {
      left: -4px;
    }
  }

  &:active {
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.24);
  }

  &--max {
    left: 137px;

    @media (min-width: @tablet-width) {
      left: 155px;
    }

    @media (min-width: @desktop-width) {
      left: 119px;
    }

    &:hover {
      left: 132px;

      @media (min-width: @tablet-width) {
        left: 152px;
      }

      @media (min-width: @desktop-width) {
        left: 116px;
      }
    }
  }
}
