.counter {
  display: flex;
  flex-direction: row;
}

.counter__value {
  font-family: inherit;
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  color: @basic-blue-light;
  text-align: center;
}
