.desktop-navigation {
  display: none;

  @media (min-width: @desktop-width) {
    position: relative;
    display: flex;
    flex-direction: row;
    padding-top: 18px;
    padding-bottom: 16px;
    background-color: #ffffff;
    margin-left: -60px;
    margin-right: -60px;
    padding-left: 60px;
    padding-right: 60px;
  }
}

.desktop-navigation__toggle {
  position: absolute;
  top: 45px;
  left: 316px;
  width: 44px;
  height: 2px;
  background-color: #192144;
}
