.filter-table {
  display: flex;
  flex-direction: column;
}

.filter-table__letter {
  font-family: inherit;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: @basic-blue-light;
  text-transform: uppercase;
}
