.filter {
  background-color: #e2e5f2;
}

.filter__wrapper {
  display: flex;
  flex-direction: row;
}

.filter__text {
  margin: 0;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.filter__roll {
  font-family: "Bloger-Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #192144;
  background-color: #d6daed;
}
