.filter-table {
  display: grid;
  grid-template-columns: 44px 44px 44px 44px 44px;
  grid-template-rows: 41px 41px 41px 41px 41px;

  @media (min-width: @tablet-width) {
    width: 262px;
    margin-right: 79px;
    grid-template-columns: 52.4px 52.4px 52.4px 52.4px 52.4px;
    grid-template-rows: 69.2px 69.2px 69.2px 69.2px 69.2px;
  }

  @media (min-width: @desktop-width) {
    width: 361px;
    margin-right: 102px;
    grid-template-columns: 60px 60px 60px 60px 60px;
    grid-template-rows: 70px 70px 70px 70px 70px;
    column-gap: 15px;
    row-gap: 15px;
  }
}

.filter-table__letter {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: @basic-blue-light;
  text-transform: uppercase;
  border: 1px solid #cbced9;
  display: block;
  width: 100%;
  background: none;
  cursor: pointer;

  &:hover {
    border-color: #959bb2;
  }

  &:active {
    color: #ffffff;
    border-color: @basic-blue-light;
    background-color: @basic-blue-light;
  }

  &--active {
    color: #ffffff;
    border-color: @basic-blue-light;
    background-color: @basic-blue-light;

    &:hover {
      border-color: @basic-blue-light;
    }
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;

    &--active {
      color: #ffffff;
    }
  }

  @media (min-width: @desktop-width) {
    border-radius: 4px;
  }
}

.filter-table__col {
  padding: 0;
  box-sizing: border-box;
  border: 1px solid #cbced9;
  background-color: #ffffff;
  border-top: none;

  @media (min-width: @tablet-width) {
    border: 1px solid #cbced9;
  }

  @media (min-width: @desktop-width) {
    display: inline-block;
    border-radius: 4px;
    margin-right: 16px;
    margin-bottom: 14px;
    width: 60px;
    height: 70px;
  }

  &--active {
    background-color: #edeff6;
    border-bottom: 1px solid #edeff6;

    @media (min-width: @tablet-width) {
      background-color: @basic-blue-light;
    }
  }
}
