.footer-contacts {
  display: flex;
  flex-direction: column;
}

.footer-contacts__wrapper {
  display: flex;
  flex-direction: column;
}

.footer-contacts__text {
  line-height: 16px;
  font-weight: 400;
}
