.footer-contacts {
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding-left: 26px;
  padding-right: 24px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: #ffffff;
  padding-top: 36px;
  padding-bottom: 18px;

  @media (min-width: @tablet-width) {
    padding-left: 38px;
    padding-right: 40px;
    padding-top: 46px;
    padding-bottom: 32px;
    flex-direction: row;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 47px;
    padding-left: 58px;
    padding-right: 60px;
    padding-bottom: 43px;
  }
}

.footer-contacts__wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 13px;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    margin-bottom: 0;
  }
}

.footer-contacts__logo {
  margin-bottom: 35px;
  text-align: center;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
    margin-right: 88px;
    padding-top: 10px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 369px;
    padding-top: 6px;
  }
}

.footer-contacts__list {
  border-bottom: 1px solid #f2f2f2;

  @media (min-width: @tablet-width) {
    border: none;
  }
}

.footer-contacts__copyright {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-contacts__text {
  padding-top: 9px;
  line-height: 16px;
  font-weight: 400;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin-right: 24px;
    padding-top: 18px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 24px;
  }
}

.footer-contacts__pic {
  cursor: pointer;

  @media (min-width: @tablet-width) {
    padding-top: 16px;
  }
}
