.interested {
  background-color: #192144;
}

.interested__title {
  margin: 0;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  color: @special-orange;
}

.interested__description {
  margin: 0;
  color: #ffffff;
}

.interested__link {
  display: block;
  font-family: inherit;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
  color: @basic-yellow;
  text-decoration: underline;

  &--phone {
    text-decoration: none;
    font-weight: 700;
  }

  &--mail {
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.interested__mail {
  display: flex;
  flex-direction: row;
}

.interested__field {
  font-family: inherit;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;

  &::placeholder {
    color: rgba(68, 68, 68, 0.3);
  }
}

.interested__question {
  margin: 0;
  color: #ffffff;
}

.interested__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: @desktop-width) {
    flex-direction: row;
  }
}
