.intro {
  position: relative;
  background-color: @basic-blue;
  background-image: url("../img/bg-main-mobile.png");
  background-repeat: no-repeat;
  padding: 20px 25px;

  &::before {
    content: "";
    position: absolute;
    right: 15%;
    width: 192px;
    height: 255px;
    background-image: url("../img/traveller-mobile.png");
    background-repeat: no-repeat;
  }

  @media (min-width: @tablet-width) {
    padding: 40px;

    &::before {
      width: 372px;
      height: 451px;
      background-image: url("../img/traveller-tablet.png");
    }
  }

  @media (min-width: @desktop-width) {
    padding: 46px 60px;

    &::before {
      right: 28%;
      width: 431px;
      height: 640px;
      background-image: url("../img/traveller-desktop.png");
    }
  }
}

.intro__title {
  margin: 0;
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 70px;
  }
}

.intro__list {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.intro__link {
  display: block;
  text-decoration: none;
  font-family: inherit;
  font-size: 17px;
  line-height: 20px;

  &--login {
    background-color: @basic-yellow;
    color: @basic-blue;
  }
}

.intro__text {
  margin: 0;
}

.intro__quote {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
  color: #ffffff;
}

.intro__author {
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: #ffffff;
}
