.list-country {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.list-country__item {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
  }
}

.list-country__pic {
  display: block;

  @media (min-width: @tablet-width) {
    order: 3;
  }
}

.list-country__flag {
  display: block;
  margin-top: -10px;

  @media (min-width: @tablet-width) {
    width: 70px;
    height: 47px;
    order: 2;
  }
}

.list-country__inner {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;

  @media (min-width: @tablet-width) {
    order: 1;
  }
}

.list-country__wrapper {
  display: flex;
  flex-direction: column;
}

.list-country__title {
  margin: 0;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
}

.list-country__description {
  margin: 0;
  line-height: 18px;
  font-weight: 500;
  opacity: 0.3;
}

.list-country__count {
  line-height: 20px;
  font-weight: 500;
  color: #161c35;
  opacity: 0.3;
}
