.main-menu {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 0 25px;
  min-height: 568px;
  background-color: #ffffff;
  z-index: 8;

  &--closed {
    display: none;
  }

  &--opened {
    display: block;
  }

  @media (min-width: @tablet-width) {
    padding: 40px;
    min-height: 910px;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.main-menu__auth {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-family: inherit;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.03em;
    font-weight: 400;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 32px;
    color: @basic-blue;
    text-align: center;
    background-color: @basic-yellow;
    border-radius: 25px;
    cursor: pointer;
  }
}

.main-menu__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 26px;
  margin-bottom: 71px;

  @media (min-width: @tablet-width) {
    justify-content: flex-start;
    padding-top: 0;
    margin-bottom: 91px;
  }
}

.main-menu__logo {
  height: 15px;

  @media (min-width: @tablet-width) {
    width: 166px;
    height: 42px;
    margin-right: 167px;
    padding-top: 5px;
    text-align: right;
    background-repeat: no-repeat;
  }

  @media (min-width: @desktop-width) {
    width: 200px;
    height: 50px;
    background-image: url("../img/bg-logo.svg");
    background-repeat: no-repeat;
  }
}

.main-menu__toggle {
  display: block;
  width: 18px;
  height: 18px;
  padding: 0;
  border: none;
  background-color: initial;
  background-image: url("../img/icon-close-menu-mobile.svg");
  background-repeat: no-repeat;
  cursor: pointer;
  margin-right: 3px;

  @media (min-width: @tablet-width) {
    width: 22px;
    height: 22px;
    background-image: url("../img/icon-close-menu-tablet.svg");
    margin-top: 15px;
    margin-right: 145px;
  }
}

.main-menu__navigation,
.main-menu__user {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.main-menu__user {
  margin-bottom: 41px;

  @media (min-width: @tablet-width) {
    padding-left: 57px;
    margin-bottom: 129px;
  }
}

.main-menu__navigation {
  margin-bottom: 54px;
  text-align: center;

  @media (min-width: @tablet-width) {
    padding-left: 57px;
    margin-bottom: 132px;
  }
}

.main-menu__user-item {
  &:first-child {
    margin-bottom: 51px;

    @media (min-width: @tablet-width) {
      display: none;
    }
  }
}

.main-menu__link {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-family: inherit;
  font-size: 30px;
  line-height: 35px;
  font-weight: 500;
  color: #192144;
  cursor: pointer;

  &:hover {
    color: @basic-yellow;
  }

  &:active {
    color: rgba(255, 215, 75, 0.3);
  }

  @media (min-width: @tablet-width) {
    text-align: left;
    font-size: 60px;
    line-height: 71px;
    font-weight: 500;
  }

  &--login {
    font-size: 17px;
    line-height: 30px;
    font-weight: 700;
    background-color: @basic-yellow;
    border-radius: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 78px;
    padding-right: 81px;

    &:hover {
      color: #192144;
      background-color: #ffbd30;
    }

    &:active {
      background-color: #ffbd30;
      color: rgba(22, 28, 53, 0.3);
    }
  }

  &--mail,
  &--phone {
    position: relative;
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;

    &:hover {
      color: @special-orange;
    }

    &:active {
      color: rgba(255, 215, 75, 0.3);
    }

    @media (min-width: @tablet-width) {
      font-size: 28px;
      line-height: 28px;
    }
  }
}

.main-menu__elipse {
  display: inline-block;
  box-sizing: border-box;
  width: 45px;
  height: 45px;
  background-color: #121936;
  border-radius: 50%;
  padding-top: 14px;
  padding-left: 13px;
  margin-right: 16px;
  vertical-align: middle;

  @media (min-width: @tablet-width) {
    width: 68px;
    height: 68px;
    padding-left: 20px;
    padding-top: 20px;
    margin-right: 23px;
    vertical-align: baseline;
  }

  &--mail {
    padding-left: 14px;
    padding-top: 16px;
    margin-right: 11px;

    @media (min-width: @tablet-width) {
      padding-left: 21px;
      padding-top: 22px;
      margin-right: 14px;
    }
  }
}

.main-menu__elipse svg {
  @media (min-width: @tablet-width) {
    width: 27.2px;
    height: 25.69px;
  }
}

.main-menu__elipse--mail svg {
  @media (min-width: @tablet-width) {
    width: 27.62px;
    height: 18.89px;
  }
}

.main-menu__link--phone:hover .main-menu__elipse svg,
.main-menu__link--mail:hover .main-menu__elipse svg {
  fill: #ffbd30;
}

.main-menu__link--phone:active .main-menu__elipse svg,
.main-menu__link--mail:active .main-menu__elipse svg {
  fill: #ffbd30;
  opacity: 0.3;
}
