.main-nav {
  display: none;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    width: 975px;
    margin-left: 145px;
  }
}
