.navigation {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  margin-top: -32px;
  padding-top: 64px;
  padding-bottom: 35px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: @basic-yellow;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

  @media (min-width: @tablet-width) {
    padding-top: 118px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 84px;
    margin-top: -50px;
    border-bottom-left-radius: 56px;
    border-bottom-right-radius: 56px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 61px;
    padding-top: 110px;
    padding-left: 60px;
    padding-right: 60px;
  }
}

.navigation__address {
  width: 270px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 688px;
    padding-left: 35px;
    padding-right: 35px;
    box-sizing: border-box;
  }

  @media (min-width: @desktop-width) {
    width: 1320px;
    padding-left: 223px;
    padding-right: 75px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.navigation__text {
  position: relative;
  margin: 0;
  font-style: normal;
  font-weight: 700;
  color: @basic-blue-light;
  text-transform: uppercase;
  width: 143px;
  padding-left: 61px;
  margin-bottom: 33px;

  @media (min-width: @tablet-width) {
    width: auto;
    font-size: 28px;
    line-height: 28px;
    padding-left: 94px;
    margin-bottom: 64px;
  }

  @media (min-width: @desktop-width) {
    width: 551px;
    box-sizing: border-box;
    padding-left: 121px;
    padding-top: 25px;
    margin-bottom: 0;
  }

  &::before {
    content: "";
    position: absolute;
    width: 45px;
    height: 45px;
    background-color: #121936;
    border-radius: 50%;
    left: 0;
    top: -1px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/icon-location-mobile.svg");

    @media (min-width: @tablet-width) {
      width: 68px;
      height: 68px;
      top: -20px;
      background-image: url("../img/icon-location-tablet.svg");
    }

    @media (min-width: @desktop-width) {
      width: 90px;
      height: 90px;
      top: -5px;
      background-image: url("../img/icon-location-desktop.svg");
    }
  }
}

.navigation__button {
  position: relative;
  display: block;
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  text-align: left;
  font-family: inherit;
  font-style: normal;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: @basic-blue-light;
  border-radius: 10px;
  border: 3px solid #192144;
  padding-top: 18px;
  padding-bottom: 20px;
  padding-left: 19px;
  padding-right: 19px;
  background-color: @basic-yellow;

  &:hover {
    background-color: #192144;
    color: #ffffff;
  }

  &:active {
    background-color: #192144;
    color: rgba(255, 255, 255, 0.3);
  }

  @media (min-width: @tablet-width) {
    font-size: 24px;
    line-height: 24px;
    padding-top: 24px;
    padding-bottom: 26px;
    padding-left: 34px;
    padding-right: 30px;
    border-radius: 20px;
  }

  @media (min-width: @desktop-width) {
    width: 324px;
    padding-right: 29px;
  }
}

.navigation__button svg {
  display: inline-block;
  vertical-align: middle;
  margin-left: 48px;

  @media (min-width: @tablet-width) {
    margin-left: 313px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 20px;
  }
}

.navigation__button:hover svg {
  fill: #ffffff;
}

.navigation__button:active svg {
  fill: #ffffff;
  opacity: 0.3;
}
