.page-header {
  position: relative;
  display: flex;
  flex-direction: row;
  background: #161c35;
  color: #192144;
  padding-top: 18px;
  padding-left: 26px;
  padding-right: 25px;
  padding-bottom: 20px;
  z-index: 8;

  @media (min-width: @tablet-width) {
    background: #182044;
    justify-content: space-between;
    padding: 40px;
  }

  @media (min-width: @desktop-width) {
    justify-content: stretch;
    padding: 46px 60px;
    background-color: #161c35;
  }

  &--bg {
    background-color: #182044;

    @media (min-width: @desktop-width) {
      background-color: #182044;
    }
  }
}

.page-header__container {
  position: relative;
  margin: 0 auto;
  width: 270px;

  @media (min-width: @tablet-width) {
    width: 688px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    width: 1320px;
  }
}

.page-header__logo {
  height: 15px;

  @media (min-width: @tablet-width) {
    width: 166px;
    height: 42px;
    padding-top: 5px;
  }

  @media (min-width: @desktop-width) {
    width: 200px;
    height: 50px;
    padding-top: 1px;
  }
}

.page-header__image {
  width: 96px;
  height: 15px;

  @media (min-width: @tablet-width) {
    width: 166px;
    height: 42px;
  }

  @media (min-width: @desktop-width) {
    width: 200px;
    height: 50px;
  }
}

.page-header__toggle {
  position: absolute;
  top: 50%;
  right: 1px;
  margin-top: -6px;
  z-index: 2;
  display: block;
  width: 25px;
  height: 11px;
  cursor: pointer;
  background-color: initial;
  border: none;

  @media (min-width: @tablet-width) {
    right: 50%;
    margin-right: -13px;
    margin-top: -4.5px;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    height: 3px;
    border-radius: 1.5px;
    background-color: #ffffff;
  }

  &::after {
    top: 8px;
  }
}
