.pricing-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.pricing-list__item {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
  }
}

.pricing-list__description,
.pricing-list__value {
  margin: 0;
  line-height: 16px;
}

.pricing-list__value {
  @media (min-width: @tablet-width) {
    text-align: center;
    background-color: #e2e5f2;
  }
}

.profile__show {
  font-family: inherit;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  color: #132576;
}
