.profile-card {
  display: flex;
  flex-direction: column;
}

.profile-card__title {
  margin: 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
}

.profile-card__wrapper {
  display: flex;
  flex-direction: row;
}

.profile-card__change-photo {
  display: block;
  font-size: 20px;
  line-height: 18px;
  font-weight: 500;
  color: @basic-blue;
  text-decoration: none;
  text-transform: uppercase;
}

.profile-card__tags {
  margin: 0;
  padding: 0;
}

.profile-card__hashtag-title {
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: @basic-blue-light;
  text-align: center;
}

.profile-card__activity {
  margin: 0;
  padding: 0;
}

.profile-card__transport {
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: @basic-blue-light;
  text-align: center;
}
