.site-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: none;

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
  }
}

.site-list__link {
  display: block;
  text-decoration: none;
  font-family: inherit;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
  padding-top: 21px;
}
