.step-next {
  margin: 0;
  box-sizing: border-box;
  border: none;
  border-radius: 20px;
  font-family: inherit;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  padding: 5px 42px;
  color: @basic-blue-light;
  text-transform: uppercase;
  background-color: @basic-yellow;
  text-decoration: none;
  display: block;
  cursor: pointer;

  &:hover {
    background-color: #ffbd30;
  }

  &:active {
    background-color: #ffbd30;
    color: rgba(29, 46, 91, 0.3);
  }

  @media (min-width: @tablet-width) {
    width: 284px;
    font-size: 24px;
    line-height: 24px;
    padding-top: 27px;
    padding-bottom: 29px;
    padding-right: 35px;
    padding-left: 33.76px;
    text-transform: unset;
    order: 6;
  }

  @media (min-width: @desktop-width) {
    order: 0;
  }

  &--submit {
    margin-bottom: 11px;

    @media (min-width: @tablet-width) {
      order: 0;
    }
  }
}

.step-next svg {
  display: none;

  @media (min-width: @tablet-width) {
    display: inline-block;
    margin-left: 28px;
  }
}

.step-next:active svg {
  @media (min-width: @tablet-width) {
    opacity: 0.3;
  }
}


.step-next--submit svg {
  @media (min-width: @tablet-width) {
    margin-left: 90px;
  }
}
