.step3 {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.step3__title {
  margin: 0;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  color: @basic-blue-light;
}

.step3__description {
  margin: 0;
  font-weight: 400;
}

.step3__wrapper {
  display: flex;
  flex-direction: row;
}

.step3__country {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  font-weight: 500;
  color: @basic-blue-light;
}

.step3__plan {
  font-family: inherit;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: @special-grey;

  &::placeholder {
    opacity: 0.3;
  }
}
