.step2 {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.step2__title {
  margin: 0;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  color: @basic-blue-light;
}

.step2__description {
  margin: 0;
  font-weight: 400;
}

.step2__wrapper {
  display: flex;
  flex-direction: column;
}

.step2__choice {
  font-family: inherit;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  background-color: @basic-blue-light;
  text-transform: uppercase;

  &--active {
    color: @basic-blue-light;
    background-color: #ffffff;
  }
}

.step2__add {
  font-family: inherit;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: @basic-blue-light;
  text-transform: uppercase;
  background-color: #edeff6;
}
