.step3 {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding-top: 22px;
  padding-left: 24px;
  padding-right: 26px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;

  @media (min-width: @tablet-width) {
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    padding-top: 44px;
    padding-left: 43px;
    padding-right: 43px;
  }

  @media (min-width: @desktop-width) {
    border-top-right-radius: 60px;
    border-top-left-radius: 60px;
    padding-top: 97px;
    padding-left: 158px;
    padding-right: 162px;
  }

  &::after {
    content: "";
    position: absolute;
    width: 17px;
    height: 287px;
    top: 196px;
    left: 10px;
    background-repeat: no-repeat;
    background-image: url("../img/line-mobile.svg");

    @media (min-width: @tablet-width) {
      height: 274px;
      left: 564px;
      top: 280px;
      background-image: url("../img/line-tablet.svg");
    }

    @media (min-width: @desktop-width) {
      left: 927px;
      top: 362px;
    }
  }
}

.step3__flex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: @tablet-width) {
    border-bottom: 1px solid #e1e3e9;
    margin-bottom: 27px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 73px;
  }
}

.step3__inner {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.step3__title {
  display: block;
  margin: 0;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  color: @basic-blue-light;
  margin-bottom: 15px;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 35px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 36px;
  }
}

.step3__link {
  display: block;
  text-decoration: none;
  color: @basic-blue-light;

  @media (min-width: @desktop-width) {
    margin-left: 13px;
  }

  @media (min-width: @desktop-width) {
    display: inline-block;
    margin-left: 11px;
  }
}

.step3__description {
  margin: 0;
  font-weight: 400;
  margin-bottom: 19px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 35px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 55px;
  }
}

.step3__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 9px;

  @media (min-width: @tablet-width) {
    padding-right: 33px;
    margin-bottom: 24px;
  }

  @media (min-width: @desktop-width) {
    padding-right: 113px;
    margin-bottom: 21px;
  }
}

.step3 picture {
  position: relative;
}

.step3__country {
  position: relative;
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  font-weight: 500;
  color: @basic-blue-light;
  padding-top: 4px;
  padding-left: 11px;

  &--fade {
    &::after {
      content: "";
      position: absolute;
      width: 72px;
      height: 24px;
      right: -30px;
      top: 0;
      background-image: url("../img/fade-mobile-hobbies.png");
      background-repeat: no-repeat;

      @media (min-width: @tablet-width) {
        display: none;
      }
    }
  }

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 30px;
    padding-top: 7px;
    padding-left: 0;
    font-weight: 700;
  }

  @media (min-width: @desktop-width) {
    padding-top: 5px;
  }
}

.step3__label {
  height: 220px;
  margin-bottom: 21px;

  @media (min-width: @tablet-width) {
    height: 140px;
    margin-bottom: 44px;
  }

  @media (min-width: @desktop-width) {
    height: 142px;
    margin-bottom: 46px;
  }

  &--margin {
    margin-bottom: 22px;

    @media (min-width: @tablet-width) {
      margin-bottom: 49px;
    }

    @media (min-width: @desktop-width) {
      margin-bottom: 58px;
    }
  }
}

.step3__plan {
  box-sizing: border-box;
  font-family: inherit;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: @special-grey;
  width: 220px;
  height: 220px;
  resize: none;
  border: 1px solid #cbced9;
  border-radius: 4px;
  padding: 10px 14px;

  &:hover {
    border-color: #959bb2;
  }

  &:active {
    border-color: #161c35;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    padding: 18px 17px;
    width: 500px;
    height: 142px;
  }

  @media (min-width: @desktop-width) {
    width: 730px;
    height: 142px;
    padding: 25px 24px;
  }

  &::placeholder {
    opacity: 0.3;
  }
}
