.step1 {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.step1__title {
  margin: 0;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  color: @basic-blue-light;
}

.step1__description {
  margin: 0;
  font-weight: 400;
}

.step1__wrapper {
  display: flex;
  flex-direction: row;
}

.step1__companion {
  line-height: 16px;
  font-weight: 500;
  text-transform: uppercase;
  color: @basic-blue-light;
}

.step1__person {
  line-height: 16px;
  font-weight: 500;
  color: @basic-blue-light;
  text-transform: uppercase;
  opacity: 0.3;
}

.step1__text {
  font-size: 15px;
  line-height: 15px;
  font-weight: 400;
  color: @basic-blue-light;
}

.step1__date {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.step1__month {
  margin: 0;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  color: @basic-blue-light;
}
