.travel-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.travel-list__item {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.travel-list__title {
  line-height: 16px;
  font-weight: 700;
  color: @basic-blue-light;
}

.travel-list__count {
  margin: 0;
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  color: @basic-blue-light;
  text-transform: uppercase;
}

.travel-list__date {
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  color: @basic-blue-light;
  text-transform: uppercase;
}

.travel-list__button {
  display: block;
  font-family: inherit;
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  cursor: pointer;
}
