.user-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.user-list__link {
  display: none;
  text-decoration: none;
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: @basic-blue;
  text-transform: uppercase;

  &--login {
    background-color: @basic-yellow;
    padding-top: 16px;
    padding-bottom: 14px;
    padding-left: 29px;
    padding-right: 28px;
    border-radius: 25px;
  }

  @media (min-width: @tablet-width) {
    &--login {
      display: block;
    }
  }

  @media (min-width: @desktop-width) {
    display: block;
  }
}
