.user-card {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 9px;
  cursor: pointer;

  &:hover {
    filter: drop-shadow(0 4px 9px rgba(0, 0, 0, 0.16));
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }

  &::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    top: 17px;
    left: 17px;

    @media (min-width: @tablet-width) {
      top: 20px;
      left: 22px;
    }
  }

  &--user1 {
    z-index: 2;

    &::before {
      background-image: url("../img/user1-level-index-mobile.png");
    }
  }

  &--user2 {
    z-index: 1;

    &::before {
      background-image: url("../img/user2-level-index-mobile.png");
    }
  }

  @media (min-width: @tablet-width) {
    width: 285px;

    &--user1 {
      margin-right: 50px;
    }
  }

  @media (min-width: @desktop-width) {
    &--user1 {
      margin-right: 60px;
    }
  }
}

.user-card__photo {
  display: block;
}

.user-card__country {
  position: relative;
  margin: 0;
  padding: 0;
  margin-top: -11px;
  padding-left: 62px;
  padding-right: 63px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  height: 25px;
  z-index: 1;

  &--user2 {
    padding-left: 90px;
    padding-right: 90px;
  }

  @media (min-width: @tablet-width) {
    padding-left: 71px;
    padding-right: 71px;
    margin-top: -12px;

    &--user2 {
      padding-left: 98px;
      padding-right: 97px;
    }
  }
}

.user-card__item {
  position: relative;
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }
}

.user-card__info-text {
  display: none;
  position: absolute;
  margin: 0;
  left: 50%;
  transform: translate(-50%);
  top: 31px;
  color: #ffffff;
  border-radius: 4px;
  padding: 10px 15px;
  background-color: #101d41;
  box-sizing: border-box;

  &::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #000000 transparent;
  }
}

.user-card__item:hover .user-card__info-text {
  display: block;
}

.user-card__info {
  padding-top: 25px;
  margin-top: -14px;
  background-color: #ffffff;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  text-align: center;
  width: 270px;

  @media (min-width: @tablet-width) {
    width: 285px;
    padding-top: 30px;
    padding-bottom: 7px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }
}

.user-card__name {
  position: relative;
  display: inline-block;
  margin: 0;
  color: @basic-blue-light;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  margin-bottom: 15px;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    font-size: 24px;
    line-height: 22px;
    margin-bottom: 24px;
  }

  &::after {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: #f97676;
    border-radius: 50%;
    left: -16px;
    top: 9px;

    @media (min-width: @tablet-width) {
      width: 8px;
      height: 8px;
      left: -22px;
    }
  }

  &--online {
    &::after {
      background-color: #bbf085;
    }
  }
}
